ion-item {
  [zoo-rating-title] {
    display: inline-block;
  }

  zoo-rating {
    display: inline-block;
    float: right;

    ion-icon {
      font-size: 28px;
      padding-left: 10px;
    }
  }
}
